.imageWrapper {
    break-inside: avoid;
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.07);
  }
  
  .image {
    width: 100%;
    height: auto;
    display: block;
  }
  